<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sport Chat Room</title>

  
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mySidepanel">
        <span class="navbar-toggler-n"></span>
      </button>
      <a class="navbar-brand" href="/"><b>CHATROOMS</b></a>
      <div id="navbarNav" class="navbar-nav">
        <button class="btn nav-link active" aria-current="page" id="logoutBtn">Log out</button>
      </div>
    </div>
  </nav>

  <!-- Side  -->
  <div onClick="hideMenu(event)" id="mySidepanel" class="sidepanel bg-dark collapse">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <ul id="sbRoomList" class="mb-5 center"></ul>
    <h4 class="text-light paddingLeft">Online Users</h4>
    <ul class="text-light paddingLeft" id="sbUserList"></ul>
  </div>








  <!-- CHAT ROOM DISPLAY -->
  <div class="container-fluid fill-height">
    <div class="row">
      <!-- LEFT HAND SIDE (ROOMS) -->
      <div class="col-lg-2 color side padding d-none d-lg-block d-xl-nonetext">
        <h4>Room List</h4>
        <ul id="roomList"></ul>
      </div>
      <!-- MAIN FOCUS (MESSAGES) -->
      <div class="col-lg-8 color padding">
        <h3 id="roomName">Room name</h3>
        <ul class="msg-list" id="msgList"></ul>
        <!-- INPUT AREA -->
        <form class="input-group" id="msgForm">
          <input type="text" class="form-control" id="msg" placeholder="Type message here" />
          <button class="btn btn-primary send-btn" id="sendBtn">Send</button>
        </form>
      </div>
      <!-- RIGHT HAND SIDE (USERS) -->
      <!-- hide this column if screen size is less than large -->
      <div class="col-lg-2 d-none d-lg-block d-xl-nonetext-end side padding textEnd">
        <h4>Online Users</h4>
        <ul id="userList"></ul>
      </div>
    </div>
  </div>
  <!-- ROOM LIST OVERLAY -->
  <div class="room-overlay" id="roomOverlay">
    <div class="chatroom-container">
      <header class="chatroom-header">
        <h2>Room List</h4>
      </header>
      <main class="chatroom-main">
        <ul id="overlayRoomList"></ul>
        <button type="button" class="btn btn-info btnFeature" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
          Room</button>
      </main>
    </div>
  </div>

  <!-- ADD ROOM MODAL-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Room</h5>
        </div>
        <div class="modal-body">
          <form class="login">
            <div class="form-group">
              <label for="addRoom">Room Name:</label>
              <input id="addRoom" type="text" placeholder="Room Name">
              <br />
              <span id="error1" class="d-none">The Room Name already exists, or contains a space. Try again.</span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="addRoomBtn" onClick="createRoom()" type="button" class="btn btn-primary">Add Room</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DELETE ROOM CONFIRM MODAL -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5>
        </div>
        <div class="modal-body">
          Woah! Are you sure you want to delete the Room?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="deleteRoomBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">DELETE</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="javascript/socket.io.js"></script>
  <script src="javascript/chatroom.js"></script>


</body>

</html>