<div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mySidepanel">
        <span class="navbar-toggler-n"></span>
      </button>
      <a class="font-mono text-2xl" href="/"><b>CHATROOMS</b></a>
      <div id="navbarNav" class="navbar-nav">
        <button class="border-2 rounded-full whitespace-pre font-bold" aria-current="page" id="logoutBtn"> Log out </button>
      </div>
    </div>
  </nav>

  {{!-- <!-- Side  -->
  <div onClick="hideMenu(event)" id="mySidepanel" class="sidepanel bg-dark collapse">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <ul id="sbRoomList" class="mb-5 center"></ul>
    <h4 class="text-zinc-300">Online Users</h4>
    <ul class="text-light paddingLeft" id="sbUserList"></ul>
  </div> --}}

  <!-- CHAT ROOM DISPLAY -->
  <div class="grid grid-cols-1 gap-4 content-start">
    <div class="flex">
      <!-- LEFT HAND SIDE (ROOMS) -->
      <div class=" flex-column float-left w-44 h-full bg-slate-700 justify-top font-bold text-2xl">
        <h4>Room List</h4>
        <ul id="roomList"></ul>
      </div>
      <!-- MAIN FOCUS (MESSAGES) -->
      <div class=" ml-11 block">
         <h3 class="justify-top font-bold text-2xl whitespace-pre" id="roomName"> Room name </h3>
        <ul class="msg-list" id="msgList"></ul>
        <!-- INPUT AREA -->
        <form class="justify-self-end object-position-bottom" id="msgForm">
          <input type="text" class="" id="msg" placeholder="Type message here" />
          <button class="border-2 rounded-full whitespace-pre font-bold " id="sendBtn"> Send </button>
        </form>
      </div>
      <!-- RIGHT HAND SIDE (USERS) -->
      <div class="ml-11">
        <h4 class="justify-top font-bold text-2xl whitespace-pre" >Online Users</h4>
        <ul id="userList"></ul>
      </div>
    </div>
  </div>
  <!-- ROOM LIST OVERLAY -->
  <div class="room-overlay" id="roomOverlay">
    <div class="chatroom-container">
      <header class="chatroom-header">
        <h2 class="font-bold text-xl max-w-[15%]">Room List</h4>
      </header>
      <main class="chatroom-main">
        <ul id="overlayRoomList" class="max-w-[15%]"></ul>
        <button type="button" class="btn btn-info btnFeature" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
          Room</button>
      </main>
    </div>
  </div>

  <!-- ADD ROOM MODAL-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Room</h5>
        </div>
        <div class="modal-body">
          <form class="login">
            <div class="form-group">
              <label for="addRoom">Room Name:</label>
              <input id="addRoom" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ENTER ROOM NAME">
            
              {{!-- <span id="error1" class="d-no">The Room Name already exists, or contains a space. Try again.</span> --}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">Cancel</button>
          <button id="addRoomBtn" onClick="createRoom()" type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Add Room</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DELETE ROOM CONFIRM MODAL -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {{!-- <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5> --}}
        </div>
        {{!-- <div class="alert">
          Woah! Are you sure you want to delete the Room?
        </div>> --}}
        <div class="modal-footer">
          <button type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">Cancel</button>
          <button id="deleteRoomBtn" type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">DELETE</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="javascript/socket.io.js"></script>
  <script src="javascript/chatroom.js"></script>


</div>
