<div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mySidepanel">
        <span class="navbar-toggler-n"></span>
      </button>
      <a class="font-mono text-2xl" href="/"><b>CHATROOMS</b></a>
      <div id="navbarNav" class="navbar-nav float-right">
        <button class="border-2 rounded-full whitespace-pre font-bold" aria-current="page" id="logoutBtn"> Log out </button>
      </div>
    </div>
  </nav>

  <!-- CHAT ROOM DISPLAY -->
  <div class="h-full bg-zinc-300 rounded text-gray-950 ">
    <div class="pt-1">
      <!-- LEFT HAND SIDE (ROOMS) -->
      <aside class=" flex-column float-left w-44 h-full bg-slate-700">
        <h4 class="font-bold text-3xl text-zinc-300 text-center">Room List</h4>
        <ul id="roomList"></ul>
          <!-- ROOM LIST OVERLAY -->
  <div class="flex p-2 text-center" id="roomOverlay">
    <div class="w-full">
      <div class="chatroom-header">
        <h2 class="font-bold text-2xl text-zinc-300">Room List</h4>
      </div>
      <div class="chatroom-main">
        <ul id="overlayRoomList" class="max-w-[15%]"></ul>
        <button type="button" class="btn btn-info btnFeature" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
          Room</button>
      </div>
    </div>
  </div>

  <!-- ADD ROOM MODAL-->
  <div class=" text-zinc-300" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Room</h5>
        </div>
        <div class="modal-body">
          <form class="login">
            <div class="form-group">
              <label for="addRoom">Room Name:</label>
              <input id="addRoom" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ENTER ROOM NAME">
            
              {{!-- <span id="error1" class="d-no">The Room Name already exists, or contains a space. Try again.</span> --}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">Cancel</button>
          <button id="addRoomBtn" onClick="createRoom()" type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Add Room</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DELETE ROOM CONFIRM MODAL -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {{!-- <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5> --}}
        </div>
        {{!-- <div class="alert">
          Woah! Are you sure you want to delete the Room?
        </div>> --}}
        <div class="modal-footer">
          <button type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">Cancel</button>
          <button id="deleteRoomBtn" type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">DELETE</button>
        </div>
      </div>
    </div>
  </div>
      </aside>

      <!-- MAIN FOCUS (MESSAGES) -->
      <div class="block">
        <div class="h-4/5 bg-slate-700 lg:w-1/2 lg:mx-auto overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-900 overflow-y-scroll mb-4 pb-3 pt-3">
         <h3 class="justify-top font-bold text-2xl text-center text-zinc-300" id="roomName"> Room name </h3>
        <ul class="msg-list" id="msgList"></ul>
        </div>
        <!-- INPUT AREA -->
        <form class="align-bottom flex flex-row bg-slate-700 rounded-md px-4 py-3 z-10 max-w-full-lg mx-2 justify-center shadow-md" id="msgForm">
          <input type="text" class="flex-1 text-white bg-transparent outline-none" id="msg" placeholder="Type message here" />
          <button class="bg-slate-700 font-bold text-zinc-300 w-half border-2 border-slate-700 rounded" id="sendBtn"> Send </button>
        </form>
      </div>
      <!-- RIGHT HAND SIDE (USERS) -->
      <div class="">
        <h4 class="justify-top font-bold text-2xl whitespace-pre" >Online Users</h4>
        <ul id="userList"></ul>
      </div>
    </div>
  </div>
  {{!-- <!-- ROOM LIST OVERLAY -->
  <div class="flex p-2 text-center" id="roomOverlay">
    <div class="w-full">
      <header class="chatroom-header">
        <h2 class="font-bold text-2xl">Room List</h4>
      </header>
      <div class="chatroom-main">
        <ul id="overlayRoomList" class="max-w-[15%]"></ul>
        <button type="button" class="btn btn-info btnFeature" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
          Room</button>
      </div>
    </div>
  </div>

  <!-- ADD ROOM MODAL-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Room</h5>
        </div>
        <div class="modal-body">
          <form class="login">
            <div class="form-group">
              <label for="addRoom">Room Name:</label>
              <input id="addRoom" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ENTER ROOM NAME">
            
              {{!-- <span id="error1" class="d-no">The Room Name already exists, or contains a space. Try again.</span> --}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">Cancel</button>
          <button id="addRoomBtn" onClick="createRoom()" type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Add Room</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DELETE ROOM CONFIRM MODAL -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {{!-- <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5> --}}
        </div>
        {{!-- <div class="alert">
          Woah! Are you sure you want to delete the Room?
        </div>> --}}
        <div class="modal-footer">
          <button type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">Cancel</button>
          <button id="deleteRoomBtn" type="button" class="m-1.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-bs-dismiss="modal">DELETE</button>
        </div>
      </div>
    </div>
  </div> --}}
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="javascript/socket.io.js"></script>
  <script src="javascript/chatroom.js"></script>


</div>
