<div class="login-container">
    <!-- Login Form -->
    <form id="login-form">
        <h1>Login</h1>
    <!-- User Name Area -->
        <div class = "username"> 
            <label for="user-log">Username:</label>
            <input type="text" id="user-log" name="username" placeholder="Enter your Username">
        </div>
    <!-- Password Area -->
        <div>
            <label for="password-log">Password</label>
            <input type="password" id="password-log" name="password" plsceholder="Enter your Password">
        </div>
    <!-- Submit Button -->
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <!-- Register Form -->
    <form id="register-form">
        <h2>Register</h2>

        <div>
            <label for="register-first-name">First Name</label>
            <input type="text" id="register-first-name" name="firstname" placeholder="Enter your first name">
        </div>

         <div>
            <label for="register-last-name">Last Name</label>
            <input type="text" id="register-last-name" name="lastname" placeholder="Enter your last name">
        </div>

         <div>
            <label for="register-display-name">Display Name</label>
            <input type="text" id="register-display-name" name="displayname" placeholder="Enter your display name">
        </div>

        <div>
            <label for="register-email">Email</label>
            <input type="email" id="register-email" name="email" placeholder="Enter you Email">
        </div>

        <div>
            <label for="register-password">Password</label>
            <input type="password" id="register-password" name="password" placeholder="Enter your Password">
        </div>

        <div>
            <label for="register-confirm-passwrod">Confirm Password</label>
            <input type="password" id="register-confirm-password" name="confirm-password" placeholder="Confirm your Password">
        </div>

        <!-- Submit for register button -->
        <div>
        <button type="submit">Register</button>
        </div>
    </form>
</div>