<div class="login-container">
    <!-- Login Form -->
    <form id="login-form">
        <h1>Login</h1>
    <!-- User Name Area -->
        <div class = "username"> 
            <label for="user-log">Username:</label>
            <input type="text" id="user-log" name="username" placeholder="Enter your Username">
        </div>
    <!-- Password Area -->
        <div>
            <label for="password-log">Password</label>
            <input type="password" id="password-log" name="password" plsceholder="Enter your Password">
        </div>
    <!-- Submit Button -->
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

     <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
    </li>
</div>