<div class="login-container">
    <!-- Login Form -->
    <form id="login-form">
        <h1>Login</h1>
    <!-- User Name Area -->
        <div> 
            <label for="user-log">Username:</label>
            <input type="text" id="user-log" name="username" placeholder="Enter your Username">
        </div>
    <!-- Password Area -->
        <div>
            <label for="password-log">Password</label>
            <input type="password" id="password-log" name="password" plsceholder="Enter your Password">
        </div>
    <!-- Submit Button -->
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <!-- Register Form -->
    <form id="register-form">
        <h2>Register</h2>

        <div>
            <label for="register-user">Username</label>
            <input type="text" id="register-user" name="username" placeholder="Enter a Username">
        </div>

        <div>
            <label for="register-email">Email</label>
            <input type="email" id="register-email" name="email" placeholder="Enter you Email">
        </div>

        <div>
            <label for="register-password">Password</label>
            <input type="password" id="register-password" name="password" placeholder="Enter your Password">
        </div>

        <div>
            <label for="register-confirm-passwrod">Confirm Password</label>
            <input type="password" id="register-confirm-password" name="confirm-password" placeholder="Confirm your Password">
        </div>

        <!-- Submit for register button -->
        <div>
        <button type="submit">Register</button>
        </div>
    </form>
</div>